<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{productName}} {{image}}</title>
</head>
<body>
  <h3>{{productName}} {{image}}</h3>
  <div class="product_details">
    <p><span>From {{from}}</span></p>
    <p><span>Nutrients: {{nutrients}}</span></p>
    <p><span>Quantity: {{quantity}}</span></p>
    <p><span>Price: ${{price}}</span></p>
    <p><span>Is organic? {{organic}}</span></p>
    <p><span>{{description}}</span></p>
  </div>
</body>
</html>